.draggable {
  min-width: 100px;
  min-height: 100px;
  background: red;
}

.draggable-container {
  padding: 20px;
  transition: padding-bottom 0.1s ease-in;
  transition: padding-top 0.1s ease-in;
}

.draggable:focus {
  outline: #4CAF50 solid 10px;
}

.draggable:hover {
  cursor: grab;
}

.droppable {
  min-width: 100px;
  min-height: 400px;
  background: gray;
  margin: 20px;
  transition: padding-bottom 0.1s ease-in;
  padding: 1;
}

.droppable:focus {
  outline: #4CAF50 solid 10px;
}

.dragging-over {
  padding-bottom: 40px;
}

.move-top {
  padding-bottom: 60px;
}

.move-bottom {
  padding-top: 60px;
}