.draggable {
  min-width: 100px;
  min-height: 100px;
  background: red;
  margin: 20px;
}

.draggable:focus {
  outline: #4CAF50 solid 10px;
}

.draggable:hover {
  cursor: grab;
}

.droppable {
  min-width: 100px;
  min-height: 400px;
  background: gray;
  margin: 20px;
}

.droppable:focus {
  outline: #4CAF50 solid 10px;
}
